{% extends 'base.html' %} {% load i18n %} {% block content %}

<section class="top-space-margin half-section bg-gradient-very-light-gray">
  <div class="container">
    <div
      class="row align-items-center justify-content-center"
      data-anime='{ "el": "childs", "translateY": [-15, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'
    >
      <div
        class="col-12 col-xl-8 col-lg-10 text-center position-relative page-title-extra-large"
      >
        <h1 class="alt-font fw-600 text-dark-gray mb-10px">
          {% trans "Shopping cart" %}
        </h1>
      </div>
      <div
        class="col-12 breadcrumb breadcrumb-style-01 d-flex justify-content-center"
      >
        <ul>
          <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
          <li>{% trans "Shopping cart" %}</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="pt-0">
  <div class="container">
    <div class="row align-items-start">
      <div class="col-lg-8 pe-50px md-pe-15px md-mb-50px xs-mb-35px">
        <div class="row align-items-center">
          <div class="col-12">
            {% if cart_products %}
            <table class="table cart-products">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col" class="alt-font fw-600">
                    {% trans "Product" %}
                  </th>
                  <th scope="col"></th>
                  <th scope="col" class="alt-font fw-600">
                    {% trans "Price" %}
                  </th>
                  <th scope="col" class="alt-font fw-600">
                    {% trans "Quantity" %}
                  </th>
                  <th scope="col" class="alt-font fw-600"></th>
                </tr>
              </thead>
              <tbody>
                {% for key, item in quantities.items %}
                <!--  -->
                {% for product in cart_products %}
                <!--  -->
                {% if product.name == item.name %}
                <tr>
                  <td class="product-remove">
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-bs-toggle="modal"
                      data-bs-target="#confirmDeleteModal{{ item.id }}"
                    >
                      &times;
                    </button>
                  </td>
                  <td class="product-thumbnail">
                    <a href="{% url 'details' product.id %}"
                      ><img
                        class="cart-product-image"
                        src="{{ product.image.url }}"
                        alt="{{ product.name }}"
                    /></a>
                  </td>
                  <td class="product-name">
                    <a
                      href="{% url 'details' product.id %}"
                      class="text-dark-gray fw-500 d-block lh-initial"
                      >{{ item.name }}</a
                    >
                    <span class="fs-14"
                      >{% trans "Size" %}: {{ item.size }}</span
                    >
                  </td>
                  <td class="product-price" data-title="{% trans 'Price' %}">
                    {% if product.sale > 0 %} ${{ product.new_price }}
                    <!--  -->
                    {% else %} ${{ item.price }} {% endif %}
                  </td>
                  <td
                    class="product-quantity"
                    data-title="{% trans 'Quantity' %}"
                  >
                    <div class="quantity">
                      <input
                        class="qty-text"
                        type="text"
                        value="{{ item.quantity }}"
                        aria-label="qty-text"
                        disabled
                      />
                    </div>
                  </td>
                  <td class="product-subtotal">
                    <a
                      class="btn btn-warning"
                      href="{% url 'edit' id=item.id size=item.size %}"
                      >Edit</a
                    >
                  </td>
                </tr>

                <!-- Delete Confirmation Modal -->
                <div
                  class="modal fade"
                  id="confirmDeleteModal{{ item.id }}"
                  tabindex="-1"
                  aria-labelledby="confirmDeleteModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">
                          {% trans "Confirm Delete" %}
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        {% trans "Are you sure you want to delete" %}
                        <!--  -->
                        {{item.name }} (size: {{ item.size }})?
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          {% trans "Cancel" %}
                        </button>
                        <a
                          href="{% url 'cart_del' id=item.id size=item.size %}"
                          class="btn btn-danger"
                          >{% trans "Yes, Delete" %}</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %} {% endfor %} {% endfor %}
              </tbody>
            </table>

            <div class="row mt-20px">
              <div class="col-xl-6 col-xxl-7 col-md-6">
                <div class="coupon-code-panel">
                  <input
                    type="text"
                    class="bg-white border-radius-4px"
                    placeholder="{% trans 'Coupon code' %}"
                  />
                  <a
                    href="#"
                    class="btn apply-coupon-btn fs-13 fw-600 text-uppercase"
                    >{% trans 'Apply' %}</a
                  >
                </div>
              </div>
            </div>
            {% else %}
            <div class="alert alert-info" role="alert">
              {{ user.username }} {% trans "your cart is empty!" %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="bg-very-light-gray border-radius-6px p-50px xl-p-30px lg-p-25px"
        >
          <span class="fs-26 alt-font fw-600 text-dark-gray mb-5px d-block"
            >{% trans "Cart totals" %}</span
          >
          <table class="w-100 total-price-table">
            <tbody>
              <tr>
                <th class="w-45 fw-600 text-dark-gray alt-font">
                  {% trans "Subtotal" %}
                </th>
                <td class="text-dark-gray fw-600">${{ summary }}</td>
              </tr>
              <tr class="shipping">
                <th class="fw-600 text-dark-gray alt-font">
                  {% trans "Method" %}
                </th>
                <td data-title="{% trans 'Shipping' %}">
                  <ul class="p-0 m-0">
                    <li class="d-flex align-items-center">
                      <input
                        id="free_shipping"
                        type="radio"
                        name="shipping-option"
                        class="d-block w-auto mb-0 me-10px p-0"
                        checked="checked"
                      />
                      <label class="md-line-height-18px" for="free_shipping"
                        >{% trans "with card" %}</label
                      >
                    </li>
                    <li class="d-flex align-items-center">
                      <input
                        id="local_pickup"
                        type="radio"
                        name="shipping-option"
                        class="d-block w-auto mb-0 me-10px p-0"
                      />
                      <label class="md-line-height-18px" for="local_pickup"
                        >{% trans "pay at address" %}</label
                      >
                    </li>
                  </ul>
                </td>
              </tr>
              <tr class="calculate-shipping"></tr>
              <tr class="total-amount">
                <th class="fw-600 text-dark-gray alt-font pb-0">
                  {% trans "Total" %}
                </th>
                <td class="pb-0" data-title="{% trans 'Total' %}">
                  <h6 class="d-block fw-700 mb-0 text-dark-gray alt-font">
                    ${{ summary }}
                  </h6>
                </td>
              </tr>
            </tbody>
          </table>
          <a
            href="{% url 'ch_out' %}"
            class="btn btn-dark-gray btn-large btn-switch-text btn-round-edge btn-box-shadow w-100 mt-25px"
          >
            <span>
              <span
                class="btn-double-text"
                data-text="{% trans 'Proceed to checkout' %}"
                >{% trans 'Proceed to checkout' %}</span
              >
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
