{% extends 'base.html' %} {% load static %} {% load i18n %} {% block content %}

<section class="p-0">
  <div class="full-screen">
    <div class="swiper-wrapper">
      <!-- Swiper slide item -->
      <div class="swiper-slide overflow-hidden">
        <div class="w-100 h-100" style="background-color: black">
          <div class="p-5 position-absolute mt-18 z-1">
            <!-- Instagram icon and link -->
            <a
              href="https://www.instagram.com/your_instagram_page/"
              target="_blank"
              class="mr-4"
            >
              <i
                class="fab fa-instagram-square fa-3x"
                style="color: #fefafa"
              ></i>
            </a>
            <div></div>
            <!-- Facebook icon and link -->
            <a
              href="https://www.facebook.com/your_facebook_page/"
              target="_blank"
            >
              <i
                class="fab fa-facebook-square fa-3x"
                style="color: #fbfdff"
              ></i>
            </a>
          </div>
          <div class="container h-100">
            <div class="row align-items-center h-100">
              <div
                class="col-md-18 position-relative d-flex flex-column justify-content-center h-100"
              >
                <div class="flex-container align-items-center">
                  <div class="flex-item">
                    <img
                      src="{% static 'images/logo.jpg' %}"
                      alt="Logo"
                      class="responsive-img"
                    />
                  </div>
                  <div class="flex-item">
                    <h2 class="text-white">Hariha•ხარიხა</h2>
                    <h3 class="text-white-50">ატარე შენი გუნდის ფერები!</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Categories Section -->
<section id="categories-section">
  <div class="container">
    <div class="row mb-5 xs-mb-8">
      <div class="container">
        <div class="row mb-5 xs-mb-8">
          <div class="col-12 text-center">
            <h2 class="alt-font text-dark-gray mb-0 ls-minus-2px">
              <span class="text-highlight fw-600"
                >CATEGORIES<span class="bg-base-color h-5px bottom-2px"></span
              ></span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="shop-modern d-flex justify-content-between flex-wrap">
      {% for category in categories %}
      <li class="grid-item col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
        <div class="shop-box mb-10px p-5">
          <div class="shop-image mb-20px position-relative">
            <a href="{% url 'category' category.name %}">
              <img src="{{ category.image.url }}" alt="{{ category.name }}" />
              <div
                class="shop-overlay bg-gradient-gray-light-dark-transparent"
              ></div>

              <div
                class="shop-hover d-flex justify-content-center align-items-center w-100 h-100 position-absolute top-0 start-0"
              >
                <div class="shop-buttons-wrap">
                  <a
                    href="{% url 'category' category.name %}"
                    class="alt-font btn btn-small btn-box-shadow btn-round-edge left-icon add-to-cart custom-add-to-cart-btn"
                  >
                    <i class="bi-cart-fill"></i>
                    <span class="quick-view-text button-text"
                      >{% trans "See category" %}</span
                    >
                  </a>
                </div>
              </div>
            </a>
          </div>
          <div class="shop-footer text-center">
            <a
              href="{% url 'category' category.name %}"
              class="alt-font text-dark-gray fs-19 fw-500"
              >{{ category.name }}</a
            >
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<!-- Products Section -->
<section
  id="products-section"
  class="mt-5 ps-7 pe-7 pb-3 lg-ps-3 lg-pe-3 sm-pb-6 xs-px-0"
>
  <div class="container">
    <div class="row mb-5 xs-mb-8">
      <div class="container">
        <div class="row mb-5 xs-mb-8">
          <div class="col-12 text-center">
            <h2 class="alt-font text-dark-gray mb-0 ls-minus-2px">
              Best seller
              <span class="text-highlight fw-600"
                >products<span class="bg-base-color h-5px bottom-2px"></span
              ></span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ul class="shop-modern d-flex justify-content-between flex-wrap">
          {% for product in page_obj %}
          <li class="grid-item col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
            <div class="shop-box mb-10px p-5">
              <div class="shop-image mb-20px position-relative">
                <a href="{% url 'details' product.id %}">
                  <img src="{{ product.image.url }}" alt="{{ product.name }}" />
                  <div
                    class="shop-overlay bg-gradient-gray-light-dark-transparent"
                  ></div>
                  {% if product.sale > 0 %}
                  <div
                    class="sale-percentage position-absolute top-0 start-0 bg-danger text-white px-2 py-1"
                  >
                    {{ product.sale }}% Off
                  </div>
                  {% endif %}
                  <div
                    class="shop-hover d-flex justify-content-center align-items-center w-100 h-100 position-absolute top-0 start-0"
                  >
                    <div class="shop-buttons-wrap">
                      <a
                        href="{% url 'details' product.id %}"
                        class="alt-font btn btn-small btn-box-shadow btn-round-edge left-icon add-to-cart custom-add-to-cart-btn"
                      >
                        <i class="bi-cart-fill"></i>
                        <span class="quick-view-text button-text"
                          >{% trans "Add to cart" %}</span
                        >
                      </a>
                    </div>
                  </div>
                </a>
              </div>
              <div class="shop-footer text-center">
                <a
                  href="{% url 'details' product.id %}"
                  class="alt-font text-dark-gray fs-19 fw-500"
                  >{{ product.name }}</a
                >
                {% if product.sale > 0 %}
                <div class="price lh-22 fs-16">
                  <del>${{ product.price }}</del> ${{ product.new_price }}
                </div>
                {% else %}
                <div class="price lh-22 fs-16">${{ product.price }}</div>
                {% endif %}
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>

        <!-- Pagination controls -->
        <div class="pagination justify-content-center mt-5">
          <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">« {% trans "first" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}"
              >{{ page_obj.previous_page_number }}</a
            >
            {% endif %}
            <span class="pagination">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"
              >{{ page_obj.next_page_number }}</a
            >
            <a href="?page={{ page_obj.paginator.num_pages }}">»</a>
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
